<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>単語帳</h1>
      </div>
      <div class = "panel-body">
        <p id="question_number">第<%= session[:correct] + session[:incorrect] + 1 %>問</p>
        <hr>
        <h1 id="question_question"><%= @question.question %></h1>

        <div class = "similar-words">
        <% if @similar_words.present? %>
          <p>類似単語</p>
          <% @similar_words.each_with_index do |word, n| %>
            <p id = "similar_word<%= n %>"><%= word.similar_word %></p>
          <% end %>
        <% else %>
          <% $most_similar_number.times do |m| %>
            <p id = "similar_word<%= m %>"></p>
          <% end %>
        <% end %>
        </div>
        <hr>

        <%= form_with url: question_path, method: "get" do |f|%>

          <%= f.hidden_field :question_id, value: @question.id %>
          <div class="radio-button">
            <% @questions.each_with_index do |question, i| %>
              <p id="question_answer<%= i %>">
                <% if i == 0 %>
                  <%= radio_button_tag :question, question.id, checked: "checked"%>
                  <%= label_tag "question_#{question.id}", question.description %>
                <% else %>
                  <%= radio_button_tag :question, question.id %>
                  <%= label_tag "question_#{question.id}", question.description %>
                <% end %>
              </p>
            <% end %>
          </div>

          <p><%= f.submit "解答", class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
