<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>単語帳</h1>
      </div>
      <div class = "panel-body">
        <p id="question_number">第<%= session[:correct] + session[:incorrect] + 1 %>問</p>
        <hr>
        <h1 id="question_question"><%= @question.question %></h1>
        <%= form_with url: question_path, method: "get" do |f|%>

          <%= f.hidden_field :question_id, value: @question.id %>
          <div class="radio-button">
            <% @questions.each_with_index do |question, i| %>
              <p id="question_answer<%= i %>">
              <%= radio_button_tag :description, question.description%>
              <%= label_tag :description, question.description %>
              </p>
            <% end %>
          </div>

          <p><%= f.submit "解答", class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
