<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        <h1>単語帳</h1>
      </div>
      <div class = "panel-body">
        <p>第<%= session[:correct] + session[:incorrect] + 1 %>問</p>
        <hr>
        <h1><%= @question.question %></h1>
        <%= form_with url: question_path, method: "get", local: true do |f|%>

        <p class="radio-button">
        <% @questions.each do |question| %>
          <p>
          <%= f.radio_button :description, question.description%>
          <%= f.label :description, question.description %>
          </p>
        <% end %>
        </p>

        <%= f.hidden_field :question_id, value: @question.id %>

        <p><%= f.submit "解答", class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
